
.container__ola {
    background: $color-principal;
    @include container-configuracion();
}

.content__ola {
    text-align: center;
    font-size: 2em;
    color: rgba(255,255,255, .8);
}

.ola{
    padding-right: 0px;
    padding-left: 0px;
    z-index: 3;
}

.waves {
    width: 100%;
    @include waves-config();
}

.wave {
    position: absolute;
    left: -180px;
    bottom: 0;
    width: 2402px;
    height: 427px;
    background: url(../img/baner-2.jpg) center bottom no-repeat;
    animation: 5s wave ease-in-out infinite alternate;
}

.wave.a {
    background-position: 0 -854px;
}

.wave.b {
    background-position: 0 -427px;
    animation-delay: .6s;
}

.wave.c {
    background-position: 0 0;
    animation-delay: 1.2s;
}

@keyframes wave {
    0% {
        transform: translate(0 , 0);
    }
    50% {
        transform: translate(-80px, 30px);
    }
    100% {
        transform: translate(160px, -60px);
    }
}

.contacto{
    position: relative;
    z-index: 2; /*Para ordenar div - suerponer uno por otro */
    background-color: white;
}
.titulo__contacto{
    position: relative;
    text-align: center;
    
}

.column {
    float: left;
    width: 80%; 
}
//hero section

.hero{
    height: $hero-height-vh;
    background-image: url("../img/baner-2.jpg");
    @include hero-configuracion();
}

.hero__contenedor{
    width: 400px;
    width: 600px;
    position: relative;
    left: 3rem;

}
.hero__titulo{   
    color: $color-hero-titulo;
    font-size: 3.2rem;  
    margin-bottom: 3rem;
}

.btn__compra{
    font-size: 1rem;
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

/*Uso de extends*/
.btn__mensaje{
    @extend.btn__compra;
    color: green;
}
.btn__precios{
    @extend.btn__compra;
    color: blue;
}
.hero{
    -webkit-animation: bg-pan-top 60s both;
            animation: bg-pan-top 60s both;
}
@-webkit-keyframes bg-pan-top {
    0% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}
@keyframes bg-pan-top {
    0% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

/*Blog*/
.blog__body {
    position: relative;
    z-index: 2; 
    background-color: $bg-color-blog;
}

.container__about{
    position: relative;
    background-color: $bg-color-blog;
}

.texto__about{
    text-align: justify;
}


.album__productos{
    overflow: hidden;
}

.container__spotify{
    overflow: hidden;
}

.album__instagram{
    overflow: hidden;
}
//pasteleria
.card{
    &:hover{
    border: $color-principal 0.2em solid;
    transform: scale(1.03);
    }
}

.bg__card{
    background: #eacda3;  
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  
    background: linear-gradient(to right, #d6ae7b, #eacda3); 
}

.bg__title{
    color: white;
}
/*Contacto*/

.contacto{
    position: relative;
    z-index: 2; /*Para ordenar div - suerponer uno por otro */
    background-color: white;
}
.titulo__contacto{
    position: relative;
    text-align: center;
    
}

.column {
    float: left;
    width: 80%; 
}
//galeria
#elaboration {
    .elaboration-wrap {
      display: flex;
      justify-content: space-between;
      &-box {
        img {
            width: 100%;
           height: 300px;
        }
      }
    } 
  } 