/*header nav */
.top{
    background-color: #c76ae4;
}
#navbar {

    .logo {
        float: left;

        img {
            height: 50px;
        }
    }

    ul {
        float: right;

        li {
            list-style: none;
            float: left;

            a {
                display: block;
                padding: 20px;
                text-align: center;
            }

            a:hover {
                text-decoration: underline;
                color: antiquewhite;
            }
        }
    }

    
}