/*header nav */
.top {




    #navbar {
        float: left;
        background-color: $fondo-nav ;


        ul {
            float: right;


            li {
                list-style: none;
                float: left;


                li a {
                    display: block;
                    padding: 20px;
                    text-align: center;


                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}