
// Font
$font-title: 'Roboto', sans-serif;
$font-body: 'Roboto', sans-serif;;

// Colors
$main-color: #ff38cd;
$secondary-color: #1b252d;
$gray1-color: #623d70;
$gray2-color: #707070;
$gray3-color: #9b9b9a;