@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
   margin: 0;

   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "poppins", sans-serif;
   font-weight: 300;
   font-size: 20px;
}

/*header nav*/
header nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100vw;
   height: 100px;
   background-color: rgba(0, 0, 0, 0.587);
   padding: 5px;
}

header h1 {
   display: flex;
   color: rgb(209, 48, 220);
   font-size: 40px;

}

header nav ul {
   display: flex;
   list-style: none;

}

header nav ul li a {
   text-decoration: none;
   color: white;
   font-weight: 800;
   font-size: 15px;
   margin: 20px;
}

/*main index*/
.hero {
   width: 100%;
   height: 100vh;
   background: linear-gradient(rgba(0, 0, 0, 0.498), rgba(0, 0, 0, 0.479)), url(../img/modelo37.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;

}

.hero h2 {
   font-family: "PT Mono", monospace;
   font-weight: 400px;
   font-size: 50px;
   line-height: 25px;
   border: 1px solid rgb(217, 172, 189);
   padding: 10px;
}

.hero p {
   margin: 12px;
   font-size: 30px;
}

.hero a {
   text-decoration: none;
   color: white;
   font-size: 20px;
   background-color: rgb(81, 17, 76);
   padding: 10px;
}

.productos h3 {
   background-color: rgb(106, 16, 95);
   color: white;
   text-align: center;
   font-weight: 300px;
   font-size: 40px;
   line-height: 25px;
   border: 1px solid rgb(217, 172, 189);
   padding: 30px;
}


.productos>div {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 20px;
   flex-wrap: wrap;
}


.productos div div img {
   width: 100%;
   height: 300px;
}

.productos div div {
   border: 1px solid gray;
   width: 300px;
   height: 550px;
   text-align: center;
   background-color: rgb(123, 10, 102);
   color: white;
   margin: 20px;
   padding: 10px;
   box-shadow: 9px -11px 20px -11px rgba (0, 0, 0, 0.75);

}

.productos div div h4 {
   margin-bottom: 10px;
}

.productos div div a {
   text-decoration: none;
   color: rgba(0, 0, 0);
   background-color: white;
   font-weight: 900;
   padding: 5px;

}

.galeria {
   width: 100%;
   margin-top: 40px;
   display: grid;
   grid-auto-rows: 300px;
   gap: 15px;
   justify-content: center;
   justify-items: center;
   align-items: baseline;
}


.galeria div img {
   width: 100%;
   height: 100%;
   margin-top: 50px;
   object-fit: cover;
   grid-auto-rows: 250px;
   gap: 15px;
   box-shadow: 9px 10px 21px -8px rgba (0, 0, 0, 0.75);


}

.grid-container {
   position: relative;

}

.grid-container img a {
   position: absolute;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.509);
   width: 100%;
   height: 100%;
   color: white;
}

/*main contactos */

.dulce {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 1700px;
   justify-content: center;
   align-items: center;
}

#myDIV {
   width: 100%;
   height: 100%;
   background: red;
   animation: mymove 5s infinite;
}

@keyframes mymove {
   from {
      background-color: red;
   }

   to {
      background-color: blue;
   }
}

input[type=text],
select,
textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
}

label {
   padding: 12px 12px 12px 0;
   display: inline-block;
}

input[type=submit] {
   background-color: #711049;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: right;
}

.container {
   display: flex;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
}

.col-25 {
   float: left;
   width: 25%;
   margin-top: 6px;
}

.col-75 {
   float: left;
   width: 75%;
   margin-top: 6px;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

h2 {
   text-align: center;
   justify-content: center;
   font-weight: 150px;
   font-size: 40px;

}

/*main galeria*/
#main {
   display: flex;
   flex-direction: column;
   height: 2900px;
   justify-content: center;
   align-items: center;
}


/*main pasteleria*/
.pasteles {
 display: flex;
 flex-direction: column;
 height: 2900px;
 background-color: rosybrown;
 justify-content: space-evenly;
 align-items: center;
}

#row-padre {
 flex-direction: row;
 flex-wrap: nowrap;
 align-items: center;
 justify-content: space-evenly;
 height: 30%;
 width: 90%;
 content: "";
 display: table;
 clear: both;
}

#column-hijo {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 height: 70%;
 float: left;
 width: 33.33%;

}

#column-hijo {
 display: flex;
 background-color: rgb(130, 25, 128);
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 height: 70%;
 float: left;
 width: 33.33%;
 padding: 15px;

}

#column-hijo {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 height: 70%;
 float: left;
 width: 33.33%;

}

.img_card {
 height: 50%;
 width: 80%;
}

.titulo_card {
 text-align: center;
 font-size: 30px;
 color: rgb(49, 49, 49);
}

.parrafo_card {
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 20px;
 width: 11em;
 border: 1px solid #000000;
 word-wrap: break-word;
}

.boton_card {
 background-color: rgb(186, 151, 151);
 height: 10%;
 width: 40%;
 border: 0;
}

.card {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 padding: 16px;
 text-align: center;
 background-color: #f1f1f1;
}

/*main quienes somos*/

.main {
 max-width: 1000px;
 margin: auto;
}

.glow h1 {
 text-align: center;
 justify-content: center;
 font-size: 50px;
 word-break: break-all;
}

.glow {
 display: flex;
 width: 600px;
 height: 90px;
 background: rgb(93, 6, 61);
 animation: mymove 5s infinite;
}

@keyframes mymove {
 from {
    background-color: rgb(255, 0, 149);
 }

 to {
    background-color: rgb(212, 0, 255);
 }
}

.row {
 margin: 8px -16px;
}

.row,
.row>.column {
 padding: 8px;
}

.column {
 float: left;
 width: 25%;
}

.row:after {
 content: "";
 display: table;
 clear: both;
}

.content {
 background-color: white;
 padding: 10px;
}

.content img {
 width: 100%;
}






/*main quienes somos*/

.main {
   max-width: 1000px;
   margin: auto;
}

.glow h1 {
   text-align: center;
   justify-content: center;
   font-size: 50px;
   word-break: break-all;
}

.glow {
   display: flex;
   width: 600px;
   height: 90px;
   background: rgb(93, 6, 61);
   animation: mymove 5s infinite;
}

@keyframes mymove {
   from {
      background-color: rgb(255, 0, 149);
   }

   to {
      background-color: rgb(212, 0, 255);
   }
}
.row {
   margin: 8px -16px;
}

.row,
.row>.column {
   padding: 8px;
}

.column {
   float: left;
   width: 25%;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

.content {
   background-color: white;
   padding: 10px;
}

.content img {
   width: 100%;
}
*/
/*footer*/
.footer {
   overflow: hidden;
   background-color: #f1f1f1;
   padding: 20px 10px;
}

.footer a {
   float: left;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;
}

.footer a.logo {
   font-size: 30px;
   font-weight: bold;
   color: rgb(124, 50, 132);
}

.redes-right {
   float: right;
}

/* media queries*/
/*ms*/
@media only screen and (max-width:600px) {

   header {
      height: 350px;

   }

   header nav {
      display: flex;
      flex-direction: column;
      height: 300px;

   }

   .main {
      display: flex;
      flex-direction: column;
      height: 3000px;
      justify-content: space-evenly;
      align-items: center;
   }

   /*index*/
   .hero {
      display: flex;
      flex-direction: column;
      font-size: 30px;
      text-align: center;
      width: 100vw;
      align-items: center;
      justify-content: space-evenly;
   }

   .hero h2 {
      font-size: 40px;
      margin: 10px
   }

   .hero p {
      margin: 10px;
      font-size: 15px;
   }

   .galeria {
      width: 100%;
      margin-top: 40px;
      display: grid;
      grid-auto-rows: 300px;
      gap: 15px;
      justify-content: center;
      justify-items: center;
      align-items: baseline;
   }

   h1 {
      font-size: 30px;
      word-break: break-all;

   }

   .column {
      width: 100%;
   }

   ul {
      height: 300px;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

   }

   /*galeria*/
   #carrusel {
      width: 100%;
      height: 1000px;
   }

   /*contacto*/
   .col-25,
   .col-75,
   input[type=submit] {
      width: 100%;
      margin-top: 0;
   }

   /*quienes somos*/
   .glow h1 {
      font-weight: 30px;
      font-size: 25px;
   }

   .glow {
      width: 300px;
      height: 50px;
   }

   /*pateleria artesanal*/


   .footer a {
      float: none;
      display: block;
      text-align: center;
      align-items: center;
      justify-content: center;
      align-content: space-around;
   }

   .redes-right {
      float: none;
      align-items: center;
      justify-content: center;
      align-content: space-around;

   }

}

/* LG */

@media only screen and (min-width:992px) {

   .galeria {
      height: 1300px;
      grid-template-columns: 30% 30% 30%;
      grid-template-rows: auto;
      justify-content: center;
      align-content: center;
   }

   /*quienes somos */
   .column {
      width: 50%;
   }
}